.el-drawer__header {
  height: 4rem;
  display: flex;
  align-items: center;
  margin-bottom: 0!important;
  padding: 0 1rem;
  color: var(--sys-text-color)!important;
  border: solid 1px var(--sys-border-color);
}