html.dark {
  --sys-bg-color: #171c23;
  --sys-box-bg-color: #35363f;
  --sys-wrapper-bg-color: #333339;
  --sys-deep-wrapper-bg-color: #3e3e46;
  --sys-text-color: #eee;
  --sys-text-contrast-color: #000;
  --sys-border-color: #454a51;
}

html.dark .icon img {
  filter: invert(1);
}

html.dark .icon-item {
  filter: invert(1);
}
