html.light {
  --sys-bg-color: #f8f8fd;
  --sys-box-bg-color: #fff;
  --sys-wrapper-bg-color: #fff;
  --sys-deep-wrapper-bg-color: #fafafa;
  --sys-text-color: #333;
  --sys-deep-text-color: #86909c;
  --sys-text-contrast-color: #fff;
  --sys-border-color: #dcdfe6;
}
