.hover-wrapper {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--sys-main-color);
    color: var(--sys-text-contrast-color);
  }
}

.hover-text {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--sys-main-color);
  }
}

.xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-item {
  background-color: var(--sys-wrapper-bg-color);
  border-radius: var(--sys-border-size);
  border: solid 1px var(--sys-border-color);
}

.active-item {
  background-color: var(--sys-main-color);
  color: var(--sys-text-contrast-color);
}

.border-bottom {
  border-bottom: solid 1px var(--sys-border-color);
}
