.hover-wrapper {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--sys-main-color);
    color: var(--sys-text-contrast-color);
  }
}

.hover-common-wrapper {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--sys-deep-wrapper-bg-color);
  }
}

.hover-weak-wrapper {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--sys-main-color);
    background-color: var(--sys-main-color-secondary);
  }
}

.hover-text {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--sys-main-color);
  }
}
.hover-border {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-color: var(--sys-main-color);
  }
}

.xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-item {
  background-color: var(--sys-wrapper-bg-color);
  border-radius: var(--sys-border-size);
  border: solid 1px var(--sys-border-color);
}
.wrapper-color {
  background-color: var(--sys-wrapper-bg-color);
}
.deep-wrapper-item {
  background-color: var(--sys-deep-wrapper-bg-color);
  color: var(--sys-deep-text-color);
}

.active-item {
  background-color: var(--sys-main-color);
  color: var(--sys-text-contrast-color);
  &:hover {
    background-color: var(--sys-main-color);
    color: var(--sys-text-contrast-color);
  }
}

.weak-active-item {
  color: var(--sys-main-color);
  background-color: var(--sys-main-color-secondary);
  &:hover {
    color: var(--sys-main-color);
    background-color: var(--sys-main-color-secondary);
  }
}

.border-wrapper {
  border: solid 1px var(--sys-border-color);
  background-color: var(--sys-wrapper-bg-color);
}

.border-bottom {
  border-bottom: solid 1px var(--sys-border-color);
}
